@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('../../node_modules/bootstrap/dist/css/bootstrap.css');
@import url('./padrao.css');
@import url('./media-queries.css');
@import url('./carousel-settings.css');

:root{
    /*------- Bootstrap -------*/
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #ffffff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;

    --azul: #00649e;
    --azul_light: #00a2ff;
    --azul_escuro: #005282;
    --black: #000000;
    --black: #00d86c;
    --cinza-claro: #c9c9c9;
    --black_dark: #232b33;
    --whatsapp: #34af23;
    --whatsapp_hover: #258c18;
}

body{
    font-family: 'Quicksand', sans-serif;
    min-width: 360px;
    color: #2c3e50;
}

::-webkit-scrollbar {
    width: 16px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: rgb(241, 241, 241);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(187, 187, 187);    
  border: 2px solid rgb(241, 241, 241);
}

button:focus, .btn:focus{
    box-shadow: none !important;
}
button{
    letter-spacing: 0.4px;
    border-radius: 25px !important;
}
h1{
    letter-spacing: 0.5px;
    line-height: 48px;
}
p{
    font-size: 18.7px;
    letter-spacing: 0.8px;
    line-height: 23px;
}
.h-3{
    height: 3px;
}
.bg-filter{
    filter: blur(1px);
    z-index: -1;
}
.borda{
    border: 1px solid var(--danger);
}
.borda-branca{
    border: 1px solid #ffffff;
}
.bg-azul{
    background-color: var(--azul);
}
.bg-azul-claro{
    background-color: var(--azul_light);
}
.btn-azul{
    background-color: var(--azul);
}
.btn-azul:hover{
    background-color: var(--azul_escuro);
}
.text-azul{
    color: var(--azul);
}
.text-azul-light{
    color: var(--azul_light);
}
.btn-light{
    background-color: var(--white) !important;
}
.no-underline:hover{
    text-decoration: none !important;
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.3s;
}
.layout-enter,
.layout-leave-to {
  opacity: 0.5;
}

.slide-bottom-enter-active,
.slide-bottom-leave-active {
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.slide-bottom-enter,
.slide-bottom-leave-to {
  opacity: 0;
  transform: translate3d(0, 15px, 0);
}
.bounce-enter-active {
  transform-origin: top;
  animation: bounce-in 0.8s;
}
.bounce-leave-active {
  transform-origin: top;
  animation: bounce-out 0.5s;
}
.height-100-vh{
    height: 100vh;
}
.text-italic{
    font-style: italic;
}
.text-whatsapp{
    color: #34af23;
}
.text-facebook{
    color: #3b5998;
}
.text-twitter{
    color: #00aced;
}
.text-instagram{
    color: #517fa4;
}
.text-pinterest{
    color: #cb2027;
}
.text-youtube{
    color: #bb0000;
}
.bg-facebook{
    background-color: #3b5998;
}
.bg-twitter{
    background-color: #00aced;
}
.bg-instagram{
    background-color: #517fa4;
}
.bg-pinterest{
    background-color: #cb2027;
}
.bg-youtube{
    background-color: #bb0000;
}
.borda-top-preto-separation{
    position: absolute;
    top: 17px;
    left: 45px;
    width: 100%;
    height: 2px;
    border-top: #2c3e50 1px solid;
}
.modal-content{
    padding: 0 !important;
    background: transparent !important;
    border: none !important;
}
#termos .modal-body{
    border: none !important;
    background-color: var(--light);
    border-radius: 5px;
}

#modal-whatsapp .modal-body, #modal-whatsapp .modal-header, #modal-whatsapp .modal-footer{
    padding: 0 !important;
}
#modal-whatsapp .modal-footer{
    margin: 0 !important;
}

#modal-produto-1 .modal-body,
#modal-produto-2 .modal-body,
#modal-produto-3 .modal-body,
#modal-produto-4 .modal-body,
#modal-produto-5 .modal-body,
#modal-produto-6 .modal-body,
#modal-produto-7 .modal-body,
#modal-produto-8 .modal-body,
#modal-produto-9 .modal-body,
#modal-produto-10 .modal-body,
#modal-produto-11 .modal-body,
#modal-produto-12 .modal-body,
#modal-produto-13 .modal-body,
#modal-produto-14 .modal-body,
#modal-produto-15 .modal-body,
#modal-produto-16 .modal-body,
#modal-produto-17 .modal-body,
#modal-produto-18 .modal-body,
#modal-produto-19 .modal-body{
    border: none !important;
    background-color: var(--white);
    border-radius: 5px;
    padding-bottom: 20px;
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    overflow: hidden;
}

#modal-whatsapp___BV_modal_outer_ .modal-backdrop{
    background: #000;
    opacity: 0.6;
}
#modal-whatsapp___BV_modal_outer_ .modal-backdrop.fade {
    opacity: 0;
}
#modal-whatsapp___BV_modal_outer_ .modal-backdrop.show{
  opacity: 0.6;
}

#termos___BV_modal_outer_ .modal-backdrop{
    background: #000;
    opacity: 0.6;
}
#termos___BV_modal_outer_ .modal-backdrop.fade {
    opacity: 0;
}
#termos___BV_modal_outer_ .modal-backdrop.show{
  opacity: 0.6;
}

#modal-produto-1___BV_modal_outer_ .modal-backdrop{
    background: #000;
    opacity: 0.6;
}
#modal-produto-1___BV_modal_outer_ .modal-backdrop.fade {
    opacity: 0;
}
#modal-produto-1___BV_modal_outer_ .modal-backdrop.show{
  opacity: 0.6;
}

#modal-produto-2___BV_modal_outer_ .modal-backdrop{
    background: #000;
    opacity: 0.6;
}
#modal-produto-2___BV_modal_outer_ .modal-backdrop.fade {
    opacity: 0;
}
#modal-produto-2___BV_modal_outer_ .modal-backdrop.show{
  opacity: 0.6;
}

#modal-produto-3___BV_modal_outer_ .modal-backdrop{
    background: #000;
    opacity: 0.6;
}
#modal-produto-3___BV_modal_outer_ .modal-backdrop.fade {
    opacity: 0;
}
#modal-produto-3___BV_modal_outer_ .modal-backdrop.show{
  opacity: 0.6;
}

#modal-produto-4___BV_modal_outer_ .modal-backdrop{
    background: #000;
    opacity: 0.6;
}
#modal-produto-4___BV_modal_outer_ .modal-backdrop.fade {
    opacity: 0;
}
#modal-produto-4___BV_modal_outer_ .modal-backdrop.show{
  opacity: 0.6;
}

#modal-produto-5___BV_modal_outer_ .modal-backdrop{
    background: #000;
    opacity: 0.6;
}
#modal-produto-5___BV_modal_outer_ .modal-backdrop.fade {
    opacity: 0;
}
#modal-produto-5___BV_modal_outer_ .modal-backdrop.show{
  opacity: 0.6;
}

#modal-produto-6___BV_modal_outer_ .modal-backdrop{
    background: #000;
    opacity: 0.6;
}
#modal-produto-6___BV_modal_outer_ .modal-backdrop.fade {
    opacity: 0;
}
#modal-produto-6___BV_modal_outer_ .modal-backdrop.show{
  opacity: 0.6;
}

#modal-produto-7___BV_modal_outer_ .modal-backdrop{
    background: #000;
    opacity: 0.6;
}
#modal-produto-7___BV_modal_outer_ .modal-backdrop.fade {
    opacity: 0;
}
#modal-produto-7___BV_modal_outer_ .modal-backdrop.show{
  opacity: 0.6;
}

#modal-produto-8___BV_modal_outer_ .modal-backdrop{
    background: #000;
    opacity: 0.6;
}
#modal-produto-8___BV_modal_outer_ .modal-backdrop.fade {
    opacity: 0;
}
#modal-produto-8___BV_modal_outer_ .modal-backdrop.show{
  opacity: 0.6;
}

#modal-produto-9___BV_modal_outer_ .modal-backdrop{
    background: #000;
    opacity: 0.6;
}
#modal-produto-9___BV_modal_outer_ .modal-backdrop.fade {
    opacity: 0;
}
#modal-produto-9___BV_modal_outer_ .modal-backdrop.show{
  opacity: 0.6;
}

#modal-produto-10___BV_modal_outer_ .modal-backdrop{
    background: #000;
    opacity: 0.6;
}
#modal-produto-10___BV_modal_outer_ .modal-backdrop.fade {
    opacity: 0;
}
#modal-produto-10___BV_modal_outer_ .modal-backdrop.show{
  opacity: 0.6;
}

#modal-produto-11___BV_modal_outer_ .modal-backdrop{
    background: #000;
    opacity: 0.6;
}
#modal-produto-11___BV_modal_outer_ .modal-backdrop.fade {
    opacity: 0;
}
#modal-produto-11___BV_modal_outer_ .modal-backdrop.show{
  opacity: 0.6;
}

#modal-produto-12___BV_modal_outer_ .modal-backdrop{
    background: #000;
    opacity: 0.6;
}
#modal-produto-12___BV_modal_outer_ .modal-backdrop.fade {
    opacity: 0;
}
#modal-produto-12___BV_modal_outer_ .modal-backdrop.show{
  opacity: 0.6;
}

#modal-produto-13___BV_modal_outer_ .modal-backdrop{
    background: #000;
    opacity: 0.6;
}
#modal-produto-13___BV_modal_outer_ .modal-backdrop.fade {
    opacity: 0;
}
#modal-produto-13___BV_modal_outer_ .modal-backdrop.show{
  opacity: 0.6;
}

#modal-produto-14___BV_modal_outer_ .modal-backdrop{
    background: #000;
    opacity: 0.6;
}
#modal-produto-14___BV_modal_outer_ .modal-backdrop.fade {
    opacity: 0;
}
#modal-produto-14___BV_modal_outer_ .modal-backdrop.show{
  opacity: 0.6;
}

#modal-produto-15___BV_modal_outer_ .modal-backdrop{
    background: #000;
    opacity: 0.6;
}
#modal-produto-15___BV_modal_outer_ .modal-backdrop.fade {
    opacity: 0;
}
#modal-produto-15___BV_modal_outer_ .modal-backdrop.show{
  opacity: 0.6;
}

#modal-produto-16___BV_modal_outer_ .modal-backdrop{
    background: #000;
    opacity: 0.6;
}
#modal-produto-16___BV_modal_outer_ .modal-backdrop.fade {
    opacity: 0;
}
#modal-produto-16___BV_modal_outer_ .modal-backdrop.show{
  opacity: 0.6;
}

#modal-produto-17___BV_modal_outer_ .modal-backdrop{
    background: #000;
    opacity: 0.6;
}
#modal-produto-17___BV_modal_outer_ .modal-backdrop.fade {
    opacity: 0;
}
#modal-produto-17___BV_modal_outer_ .modal-backdrop.show{
  opacity: 0.6;
}

.modal-backdrop{
    width: 100% !important;
    height: 100% !important;
}
.modal-backdrop.show{
    width: 100% !important;
    height: 100% !important;
}

.text-preto-cidades{
    color: #242f3a;
}
.text-preto-cidades:hover{
    color: #000000;
}
.div-bolinha-letra-cidade{
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: var(--dark) 1px solid;
}